apiVersion: v1
kind: ConfigMap
metadata:
  name: dotnet-config
data:
  appsettings.json: |-
    {
      "Logging": {
        "LogLevel": {
          "Default": "Information"
        }
      },
      "AllowedHosts": "*",
      "ConnectionStrings": {
        "MyDbConnection": "Server=tcp:techsckool.database.windows.net,1433;Initial Catalog=sqlwebapp;Persist Security Info=False;User ID=testuser;Password=P@ssword2023;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      }
    } 
    